{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="display-4 text-center mt-3">
                    {{ title }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-2">
                <a href="{{ path('admin_user_create') }}" class="btn btn-success">Создать админа</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h2>Список пользователей</h2>
                <ul>
                    {% for user in users %}
                        <li>
                            {{ user.email }}, {{ user.username }}, {{ user.phone }}, {{ user.roles | json_encode }}
                            <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn-outline-danger btn-sm">Удалить</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}